@(title: String)(content: Html)

<!DOCTYPE html>

<html>
	<head>
		<title>@title</title>
		<link rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/favicon.png")'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script src="@routes.Application.jsRoutes"></script>
		
		@*<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>*@
		
		<style>
		#nav-ok-btn {
			margin-top: 24px;
		}
		html {
			position: relative;
			/* stretch page so that the footer
			is always at bottom */
			min-height: 100%;
		}
		.footer {
			/* Otherwise bottom is useless... */
			position: absolute;
			bottom: 0;
			width: 100%;
			text-align: center;
			padding-top:9px;
			background-color: rgb(248, 248, 248);;
			margin-bottom: 0px;
			/*color: #90BFD4;*/
		}
		</style>
	</head>
	<body>
		
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-div">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="@routes.Application.index">Ninja Chat</a>
				</div>
				
				<div class="collapse navbar-collapse" id="navbar-collapse-div">
					<ul class="nav navbar-nav navbar-right">
						<li><a id="login-nav" data-toggle="collapse" href="#nav-input">Login</a></li>
						<li><a id="register-nav" data-toggle="collapse" href="#nav-input">Register</a></li>
						<li class="hidden"><a id="logout-nav" href="#">Logout</a></li>
					</ul>
				</div>
				
				<!-- Collapsible forms -->
				
				<div class="collapse" id="nav-input">
					<div class="well">
						<span id="nav-alert-container"></span>
						
						
						<div class="row">
							<div class="col-sm-5">
								<label>Name</label>
								<input type="text" id="nav-in-name" class="form-control"/>
							</div>
							<div class="col-sm-5">
								<label>Password</label>
								<input type="password" id="nav-in-pw" class="form-control"/>
							</div>
							<div class="col-sm-1">
								<button class="btn btn-default" id="nav-ok-btn">Ok</button>
							</div>
						</div>
						
					</div>
				</div>
				
				
			</div>
		</nav>
		<!--[if lte IE 9]>
		<div class="alert alert-danger" role="alert">
			This website uses modern technology which requires you to have a recent web browser.
		</div>
		<![endif]-->
		
		<script src='@routes.Assets.at("javascripts/login.js")'></script>
		
		@content
		
		
			<footer class="footer">
					<p class="small">
						<a href="https://github.com/AGhost-7/NinjaChat">Website Sources</a> - 
						<a href="https://twitter.com/JonathanBoudre2">Follow me @@JonathanBoudre2</a>
					</p>
			</footer>
		
	</body>
</html>
